* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border: 0;
  margin: 0;
}

.container {
  width: 900px;
  height: 900px;
  display: grid;
  background-color: yellow;
  border: 1px solid black;
}

.container div {
  background-color: white;
}
